.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.headerOption:hover {
  color: #646165;
  /* color: black; */
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption > h4 {
  color: gray;
  font-size: small;
}

/* .headerOption > h4:hover {
  color: black;
} */
